<!DOCTYPE html>
 <html>
   <head>
     <meta charset="UTF-8">
     <title>Calendar</title>

   <link rel='stylesheet' type='text/css' href='../style.css'>
   </head>
   <body>

      <div id ="nav">
      <ul>
        <li><a href="/lists">Add Events</a></li>
      </ul>
      </div>
