<% include ./partials/header.ejs %>

<div id="root"></div>
    <div class="textBox">
    <h1>April 2018</h1>


    <div class="row">
      <div class="cell" id="1">1</div>
      <div class="cell" id="2">2</div>
      <div class="cell" id="3">3</div>
      <div class="cell" id="4">4</div>
      <div class="cell" id="5">5</div>
      <div class="cell" id="6">6</div>
      <div class="cell" id="7">7</div>
    </div>
    <div class="row">
      <div class="cell" id="8">8</div>
      <div class="cell" id="9">9</div>
      <div class="cell" id="10">10</div>
      <div class="cell" id="11">11</div>
      <div class="cell" id="12">12</div>
      <div class="cell" id="13">13</div>
      <div class="cell" id="14">14</div>
    </div>
      <div class="row">
      <div class="cell" id="15">15</div>
      <div class="cell" id="16">16</div>
      <div class="cell" id="17">17</div>
      <div class="cell" id="18">18</div>
      <div class="cell" id="19">19</div>
      <div class="cell" id="20">20</div>
      <div class="cell" id="21">21</div>
    </div>
      <div class="row">
      <div class="cell" id="22">22</div>
      <div class="cell" id="23">23</div>
      <div class="cell" id="24">24</div>
      <div class="cell" id="25">25</div>
      <div class="cell" id="26">26</div>
      <div class="cell" id="27">27</div>
      <div class="cell" id="28">28</div>
    </div>
    </div>
      <div class="row">
      <div class="cell" id="29">29</div>
      <div class="cell" id="30">30</div>
      <div class="cell" id="0"></div>
      <div class="cell" id="0"></div>
      <div class="cell" id="0"></div>
      <div class="cell" id="0"></div>
      <div class="cell" id="0"></div>
    </div>

    </div>
  <div id ="landing">
  <h1><%= message %></h1>
  <a href="/lists">Events</a>
  </div>
<% include ./partials/footer.ejs %>
